<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Busqueda de Pelicula</title>
<link
      rel="stylesheet"
      href= "{{ url_for('static', filename='css/estilo_2.css') }}"/>

</head>
<body>
    <div class="container">
        <img
        src="/static/img/chernobil.jpg"
        alt="pelicula1"
        />
    <div class="container__text">
        <a href="/templates/pelicula.html">Chernóbil: La Película</a>
        <div class="container__text__star">
            <span class="fa fa-star checked">★</span>
            <span class="fa fa-star checked">★</span>
            <span class="fa fa-star checked">★</span>
            <span class="fa fa-star checked">★</span>
            <span class="fa fa-star checked">★</span>
        </div>
        <div class="container__text__time">
            <div class="container__text__time_">
                <h2>Time</h2>
                <p>136 mins</p>
            </div>
            <div class="container__text__time_">
                <h2>Genres</h2>
                <p>Suspenso</p>
            </div>
        </div>
    </div>
    <div class="container__text__p">
        <h2>Sinopsis</h2>
        <p>
            Tres protagonistas de la tragedia de Chernóbil entrecruzan sus vidas: 
            un bombero, un ingeniero y un buzo militar. Cada uno intentará contener 
            la radiación de la central nuclear y sobrellevar su drama personal, 
            mientras descienden al mismísimo infierno para prevenir lo que podría 
            ser el resultado más terrorífico de esta catástrofe, ocurrida en 1986.
        </p>
    </div>
    </div>


    <div class="container">
        <img
        src="static/img/chernobil.jpg"
        alt="pelicula1"
        />
    <div class="container__text">
        <a href="/templates/pelicula.html">Chernóbil: La Película</a>
        <div class="container__text__star">
            <span class="fa fa-star checked">★</span>
            <span class="fa fa-star checked">★</span>
            <span class="fa fa-star checked">★</span>
            <span class="fa fa-star checked">★</span>
            <span class="fa fa-star checked">★</span>
        </div>
        <div class="container__text__time">
            <div class="container__text__time_">
                <h2>Time</h2>
                <p>136 mins</p>
            </div>
            <div class="container__text__time_">
                <h2>Genres</h2>
                <p>Suspenso</p>
            </div>
        </div>
    </div>
    <div class="container__text__p">
        <h2>Sinopsis</h2>
        <p>
            Tres protagonistas de la tragedia de Chernóbil entrecruzan sus vidas: 
            un bombero, un ingeniero y un buzo militar. Cada uno intentará contener 
            la radiación de la central nuclear y sobrellevar su drama personal, 
            mientras descienden al mismísimo infierno para prevenir lo que podría 
            ser el resultado más terrorífico de esta catástrofe, ocurrida en 1986.
        </p>
    </div>
    </div>

</body>
</html>